*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f8f9fa !important;
}
.card{
  box-shadow: 3px 3px 3px rgba(29, 29, 29, 0.733);
  border-radius: 12px !important;
}
.root-container{
  position: relative;
  width: 100% !important;
}
.available-users{
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 60px;
  margin-top: 3rem;
}
.user-card:hover{
  transform: scale(1.08);
}
.oneonone-head{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}
.search-box-container{
  width: 60%;
  /* margin: auto; */
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  position: relative;
}
.search-box{
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  border: solid 1px rgb(79, 79, 250) !important;
  background-color: rgb(226, 224, 224) !important;
  color: #000 !important;
  position: sticky;
}
::placeholder{
  color: #000 !important;
}

/* experiences */
.exp-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.exp-wrapper-right-head{
  display: flex;
  justify-content: space-between;
}
.exp-input{
  margin-top: 1.8rem;
  margin-bottom: 0.6rem;
}
.exp-input-field{
  margin-bottom: 0.6rem;
  color: '#ccc' !important;
}